{{#partial "content"}}

<h2>Operation done successfully.</h2>
<a href="/">Go back to the homepage</a>
</div>


<style>
        body{
/*         background-image:url("https://st2.depositphotos.com/7865540/10807/i/950/depositphotos_108070294-stock-photo-business-desk-concept.jpg"); */
background-image:url("https://wallpaperplay.com/walls/full/8/d/6/128937.jpg");

        background-size: cover;
        background-repeat: no-repeat;
/*         color:white; */
        font-family: 'Lobster', cursive;
        }
        h1,h2{
        text-align:center;
        }
        h1{
        height: 80%;
        }
        </style>
{{/partial}}

{{> layout.hbs}}